* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
    .flex__box img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 540px) {
    #example_wrapper .row:nth-child(2) {
        width: 90%;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 539px) {
    #example_wrapper .row:nth-child(2) {
        width: 60%;
        overflow-x: scroll;
    }
}